body {
  font-family: Arial;
  background: linear-gradient(135deg,#020617,#0f172a);
  color: white;
  text-align: center;
  padding-top: 60px;
}

#drop-area {
  background: #1e293b;
  width: 360px;
  margin: auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

input, select, button {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

button {
  background: #22c55e;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #16a34a;
}
